	
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
html {
  height: 100%;
}

body {
  margin: 0;

  font-family: Noto Sans JP;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  
  font-family: Noto Sans JP;
}

#root {
  height: 100%;
}

a,
a:link,
a:visited,
a:-webkit-any-link {
  text-decoration: none;
}